{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium Desserts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css"></script>

  </head>
  <body>
    <div class="loader">
      <div class="dotHolder">
        <div class="dot shakes"></div>
        <div class="dot waf"></div>
        <div class="dot ice"></div>
        <div class="dot cof"></div>
        <div class="dot chai"></div>
      </div>
    </div>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <div class="bottomBar"></div>
    <footer class="footer">
        <div class="row full-width">
            <div class="copy small-12 medium-6 large-7 columns large-text-left medium-text-left small-text-center">
                <p>© 2017 Qookies Desserts. All rights reserved. Privacy Policy</p>
            </div>
            <div class="small-12 medium-4 large-3 columns">
                <ul class="footer-links-nav">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="{{root}}menu.html">Menu</a></li>
                  <li><a href="{{root}}about.html">About</a></li>
                </ul>
            </div>
            <div class="small-12 medium-2 large-2 columns">
                <ul class="footer-links">
                    <li><a href="https://www.instagram.com/qookies.nl/?hl=nl"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/qookiesnl/?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/qookiesnl"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.snapchat.com/add/qookies.nl"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>


    <script src="{{root}}assets/js/app.js"></script>
    <script type="text/javascript">
$(window).load(function() {
	$(".loader").animate({ height: 0, opacity: 0 }, 'slow');
})
// $(window).load(function() {
// 	$(".loader").fadeOut("slow");
// })
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuEzPkLFkhPSoLjPKHcP4ix83YMSQ9d_A&callback=initMap"
  async defer></script>
  </body>
</html>
