

//head colors
$main: 			   #D70778;
$LightDark: 	 #1D1F16;
$snow:		  	 #F5F5F5;
$Darkgreen: 	 rgba(148, 231, 24, 0.91);
$Dark-blue: 	 rgba(28, 30, 48, 0.1);
$sLight: 	     rgba(29, 31, 22, 0.04);
$light-orange: rgba(255, 102, 0, 0.72);
$Expired-red:  rgba(255, 138, 138, 0.2);
$red: 				 #bb0000;
$text-color :  #fff;
$gray       :  #95989A;


$dark: color(dark);
$light: color(light);


// social-colors
$dribbble: 			#ea4c89;
$facebook: 			#3b5998;
$flickr: 				#ff0084;
$foursquare: 		#0072b1;
$git: 					#0f0d0e;
$googleplus:		#dd4b39;
$twitter: 			#00aced;
$linkedin:		 	#007bb6;
$instagram: 		#517fa4;
$pinterest: 		#cb2027;
$skype: 				#12A5F4;
$snapchat: 			#fffc00;
$soundcloud:	  #ff7700;
$spotify: 			#2ebd59;
$tumblr: 				#32506d;
$vimeo: 				#aad450;
$vine:				  #00bf8f;
$vkontakte:		  #45668e;
$youtube: 			#bb0000;
